body {
  height: 100%;
  background-image: url(assets/background.jpg);
  background-size: 100%;
  color: #FFFFFF;
  font-family: 'Didact Gothic', sans-serif;
}

button {
  font-size: 1.5em;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #8F9E96;
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 100px;
  box-shadow: 3px 4px 5px #B2A691;
  margin: 10%;
}

button:hover {
  transform: scale(1.1);
}

.button-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  margin: 10% 5% 5%;
}

@media screen and (max-width: 1000px) {
  .button-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .button-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .button-container {
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }
}