body {
  height: 100%;
  background-color: #003046;
}

.game-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.game-card {
  height: 10%;
  width: 450px;
  background-color: #025367;
  border-radius: 4%;
  padding: 0 1% 0 1%;
  box-shadow: 6px 8px 10px #BABD8D;
}

.delete-button {
  height: 50px;
  width: 100px;
  box-shadow: none;
  margin-bottom: 2%;
}
