.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.game-card {
  width: 350px;
  height: 500px;
  box-sizing: border-box;
  background-color: #8F9E96;
  border-radius: 4%;
  padding: 0 1% 0 1%;
  box-shadow: 6px 8px 10px #B2A691;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  margin: 100px auto 0px;
}

.delete-button {
  height: 35px;
  width: 75px;
  box-shadow: none;
  font-size: 12px;
  background-color: #FC9987;
}


@media screen and (max-width: 1220px) {
  .game-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .game-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .game-container {
    grid-template-columns: repeat(1, 1fr);
  }
}