.header {
  background: #ABBAB1;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
}

.title {
  text-align: center;
  font-size: 2em;
}

.home {
  border: none;
  border-radius: 100px;
  align-items: center;
  height: 50px;
  width: 50px;
  background: #FC9987;
  font-size: .8em;
}

.view-game {
  font-size: .8em;
  border: none;
  border-radius: 100px;
  align-items: center;
  height: 50px;
  width: 50px;
  background: #FC9987;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 20px;
    margin: auto;
  }
  .home {
    height: 35px;
    width: 35px;
    font-size: 8px;
    position: absolute;
    left: 30%;
    top: 3.5%;
  }
  .view-game {
    height: 35px;
    width: 35px;
    font-size: 8px;
    position: absolute;
    left: 40%;
    top: 3.5%;
  }
}
