.header {
  background: #ABBAB1;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
}

.title {
  text-align: center;
  font-size: 2em;
}

.home {
  /* margin-left: 10vw; */
  border: none;
  border-radius: 100px;
  align-items: center;
  height: 50px;
  width: 50px;
  background: #8F9E96;
}

.view-game {
  /* margin-right: 10vw; */
  border: none;
  border-radius: 100px;
  align-items: center;
  height: 50px;
  width: 50px;
  background: #8F9E96;
}