.header {
  background: #ABBAB1;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.title {
  text-align: center;
  font-size: 2em;
}

.home {
  border: none;
  border-radius: 100px;
  align-items: center;
  height: 50px;
  width: 50px;
  background: #FC9987;
  font-size: .8em;
  position: absolute;
  left: 82%;
  top: 2%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.view-game {
  font-size: .8em;
  border: none;
  border-radius: 100px;
  align-items: center;
  height: 50px;
  width: 50px;
  background: #FC9987;
  position: absolute;
  left: 90%;
  top: 2%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 25px;
    margin: auto;
  }
  .home {
    height: 40px;
    width: 40px;
    font-size: 8px;
    position: absolute;
    left: 31%;
    top: 5%;
  }
  .view-game {
    height: 40px;
    width: 40px;
    font-size: 8px;
    position: absolute;
    left: 41%;
    top: 5%;
  }
}


@media screen and (max-width: 700px) {
  .title {
    font-size: 25px;
    margin: auto;
  }
  .home {
    height: 40px;
    width: 40px;
    font-size: 8px;
    position: absolute;
    left: 38%;
    top: 10%;
  }
  .view-game {
    height: 44px;
    width: 44px;
    font-size: 8px;
    position: absolute;
    left: 50%;
    top: 9.7%;
  }
}