.card {
  height: 100%;
  width: 300px;
  background-color: #025367;
  border-radius: 4%;
  padding: 0 1% 0 1%;
  box-shadow: 6px 8px 10px #BABD8D;
  text-align: center;
}

.like-button {
  height: 35px;
  width: 75px;
  box-shadow: none;
  margin-bottom: 2%;
  font-size: 12px;
}

